.subBar-child1{
    float:left;
    margin-right:5px;
    position: relative;
    width:49%;
}
.subBar-child2{
    float:right;
    position: relative;
    width:49%;
    font-size: 20px;
    margin-bottom: 1em;
    padding-top: 1.1em;
}
.subBar-parent{
    margin-top: 6em;
    width: 100%;
}
.SearchContent {

    font-size: 20px;
    margin-bottom: 1em;
    margin-top: 0em;
    padding: 1em;

}
