.SearchContent {
    font-size: 20px;
    margin-bottom: 1em;
    margin-top: 6em;
    padding: 1em;
}
.SearchContentSmallMargin {
    font-size: 20px;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
}
.SearchField {
    display: 'block';
    margin-top: 1em;
}
