

.AddButtonPosition {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 100px;
    
}

@media screen and (min-width: 1400px) {
    .AddButtonPosition {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 250px;
        height: 110px;  
    }
  }